.wrapper {
  margin: 0 auto;
  max-width: 1920px;
}

.score {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 16px;
  font-size: 40px;
  color: white;

  img {
    max-width: 40px;
    margin-right: 12px;
  }
}

.timer {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 16px;
  font-size: 40px;
  color: white;

  img {
    max-width: 40px;
    margin-right: 16px;
  }
  
}

.game_content {
  max-width: 680px;
  position: relative;
  max-width: 680px;
  margin: 0 auto;
}

#game-board {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  /* border: 1px solid black; */
  position: relative;
}

.game-object0 {
width: 80px;
height: 65px;
position: absolute;
background: url(../../public/erythrocyte.svg) center no-repeat;
background-size: 100%;
cursor: pointer;

  @media (max-width: 767px) {
    width: 60px;
    height: 55px;
  }
}
.game-object1 {
width: 45px;
height: 21px;
position: absolute;
background: url(../../public/platelets.svg) center no-repeat;
background-size: 100%;
cursor: pointer;

  @media (max-width: 767px) {
    width: 35px;
    height: 15px;
  }
}
.game-object2 {
width: 80px;
height: 75px;
position: absolute;
background-color: blue;
background: url(../../public/leukocyte.svg) center no-repeat;
background-size: 100%;
cursor: pointer;

  @media (max-width: 767px) {
    width: 60px;
    height: 55px;
  }
}

._1, ._2, ._3 {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: url(../../public/game_screen.png) center no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;

  @media (max-width: 1919px) {
    background-size: 180% 150%;
  }
}

._1, ._3 {
  .game_content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  h1 {
    text-align: center;
    width: 100%;
    font-size: 24px;
    color: #fff;
    margin-bottom: 24px;
  }

  .play_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .button_reset, .button_start {
    padding: 16px 40px 18px;
    font-size: 18px;
    color: #fff;
    background-color: #112286
  }
}

._2, ._3 {
  display: none;
}

@-webkit-keyframes animation_0 {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(200px);
    transform: translateX(100px), translateY(200px);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes animation_1 {
  0% {
    transform: translate(0px, 0px);
  }

  10% {
    transform: translate(100px, 100px);
  }

  20% {
    transform: translate(100px, 200px);
  }

  30% {
    transform: translate(200px, 100px);
  }

  40% {
    transform: translate(100px, 100px);
  }

  50% {
    transform: translate(0px, 0px);
  }

  60% {
    transform: translate(100px, 100px);
  }

  70% {
    transform: translate(100px, 200px);
  }

  80% {
    transform: translate(200px, 100px);
  }

  90% {
    transform: translate(100px, 100px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@-webkit-keyframes animation_2 {
  0% {
    transform: translate(0px, 0px);
  }

  10% {
    transform: translate(-50px, 100px);
  }

  20% {
    transform: translate(-100px, 200px);
  }

  30% {
    transform: translate(-200px, 100px);
  }

  40% {
    transform: translate(-150px, 100px);
  }

  50% {
    transform: translate(0px, 0px);
  }

  60% {
    transform: translate(100px, -50px);
  }

  70% {
    transform: translate(100px, -100px);
  }

  80% {
    transform: translate(200px, -120px);
  }

  90% {
    transform: translate(100px, -50px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@-webkit-keyframes animation_3 {
  0% {
    transform: translate(0px, 0px);
  }

  10% {
    transform: translate(50px, -50px);
  }

  20% {
    transform: translate(100px, -100px);
  }

  30% {
    transform: translate(0px, -150px);
  }

  40% {
    transform: translate(50px, -100px);
  }

  50% {
    transform: translate(-50px, 0px);
  }

  60% {
    transform: translate(0px, -100px);
  }

  70% {
    transform: translate(100px, 100px);
  }

  80% {
    transform: translate(200px, 100px);
  }

  90% {
    transform: translate(100px, 100px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@-webkit-keyframes animation_4 {
  0% {
    transform: translate(0px, 0px);
  }

  10% {
    transform: translate(-50px, -50px);
  }

  20% {
    transform: translate(0px, -100px);
  }

  30% {
    transform: translate(50px, -50px);
  }

  40% {
    transform: translate(0px, -100px);
  }

  50% {
    transform: translate(50px, 0px);
  }

  60% {
    transform: translate(0px, -50px);
  }

  70% {
    transform: translate(50px, -100px);
  }

  80% {
    transform: translate(100px, 0px);
  }

  90% {
    transform: translate(0px, 23px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@-webkit-keyframes animation_5 {
  0% {
    transform: translate(0px, 0px);
  }

  10% {
    transform: translate(30px, 30px);
  }

  20% {
    transform: translate(50px, 50px);
  }

  30% {
    transform: translate(70px, 70px);
  }

  40% {
    transform: translate(50px, 50px);
  }

  50% {
    transform: translate(0px, 0px);
  }

  60% {
    transform: translate(30px, 30px);
  }

  70% {
    transform: translate(10px, -50px);
  }

  80% {
    transform: translate(15px, 42px);
  }

  90% {
    transform: translate(-25px, 24px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@-webkit-keyframes animation_6 {
  0% {
    transform: translate(0px, 0px);
  }

  10% {
    transform: translate(-20px, 35px);
  }

  20% {
    transform: translate(-38px, 58px);
  }

  30% {
    transform: translate(-47px, 67px);
  }

  40% {
    transform: translate(-57px, 42px);
  }

  50% {
    transform: translate(0px, 0px);
  }

  60% {
    transform: translate(42px, -15px);
  }

  70% {
    transform: translate(57px, -57px);
  }

  80% {
    transform: translate(80px, -80px);
  }

  90% {
    transform: translate(40px, -25px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@-webkit-keyframes animation_7 {
  0% {
    transform: translate(0px, 0px);
  }

  10% {
    transform: translate(24px, -5px);
  }

  20% {
    transform: translate(57px, -34px);
  }

  30% {
    transform: translate(0px, -34px);
  }

  40% {
    transform: translate(89px, -10px);
  }

  50% {
    transform: translate(-15px, 0px);
  }

  60% {
    transform: translate(0px, -15px);
  }

  70% {
    transform: translate(45px, 55px);
  }

  80% {
    transform: translate(15px, 35px);
  }

  90% {
    transform: translate(15px, 18px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@-webkit-keyframes animation_8 {
  0% {
    transform: translate(0px, 0px);
  }

  10% {
    transform: translate(-20px, -10px);
  }

  20% {
    transform: translate(0px, -50px);
  }

  30% {
    transform: translate(20px, -10px);
  }

  40% {
    transform: translate(0px, -25px);
  }

  50% {
    transform: translate(20px, 0px);
  }

  60% {
    transform: translate(0px, -20px);
  }

  70% {
    transform: translate(20px, -12px);
  }

  80% {
    transform: translate(40px, 0px);
  }

  90% {
    transform: translate(0px, 40px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}


.animation_0 {
  animation: 4s infinite linear animation_0;
}

.animation_1 {
  animation: 5s infinite linear animation_1;
}

.animation_2 {
  animation: 4s infinite linear animation_2;
}

.animation_3 {
  animation: 7s infinite linear animation_3;
}

.animation_4 {
  animation: 5s infinite linear animation_4;
}

.animation_5 {
  animation: 3s infinite linear animation_5;
}

.animation_6 {
  animation: 6s infinite linear animation_6;
}

.animation_7 {
  animation: 4s infinite linear animation_7;
}

.animation_8 {
  animation: 2s infinite linear animation_8;
}